[alias]
    st = status -s
    co = checkout

[core]
    autocrlf = input
	editor = /usr/bin/vim
[init]
    defaultBranch = master
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-wincred.exe
